<%-include("./partalis/header")%>


    <!-- breadcrumb-area -->
    <div class="banner-area breadcrumb-area padding-top-120 padding-bottom-90">
     
      <div class="container padding-top-120">
          <div class="row justify-content-center">
              <nav aria-label="breadcrumb">
                  <h2 class="page-title">about us</h2>
                  <ol class="breadcrumb text-center">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">about us</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>

  <!-- food-items countdown -->
  <!-- <div class="foods-counter">
      <div class="container">
          <div class="row foods-wrapper">
              <div class="col-lg-3 col-md-6">
                  <div class="single-food text-center">
                      <img src="images/icons/3.png" alt="">
                      <span class="items counter">2000</span>
                      <p>food item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food orange text-center">
                      <img src="images/icons/f-2.png" alt="">
                      <span class="items counter">500</span>
                      <p> burger food item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food text-center">
                      <img src="images/icons/f-3.png" alt="">
                      <span class="items counter">1000</span>
                      <p> soft drinks item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food orange text-center">
                      <img src="images/icons/f-4.png" alt="">
                      <span class="items counter">600</span>
                      <p>Delicious Fast Food</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <!-- about us -->
  <section class="about-area about-area2 padding-top-120 padding-bottom-120">
      <div class="container">
          <div class="row">
              
              <div class="col-lg-12 col-md-12  wow fadeInRight">
                  <div class="about-right">
                      
                      <h2>The Story about
                        
                          <span>Naturewayfarm</span>
                      </h2>
                     
                      <div class="history-tab">
                          <ul class="nav" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history"
                                      role="tab" aria-controls="history" aria-selected="true">Our Story
                                    </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="journey-tab" data-toggle="tab" href="#journey" role="tab"
                                      aria-controls="journey" aria-selected="false">Process</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience"
                                      role="tab" aria-controls="experience" aria-selected="false">Products</a>
                              </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="history" role="tabpanel"
                                  aria-labelledby="history">
                                  <div class="his-content">
                                      <h4>Our Story</h4>
                                      <br>
                                      <p>Growing up on the borders of the city, our founders were always closer to the nature . Passionately fed by their mother with pure wholesome food every day, they became connoisseurs of all that was produced naturally and tasted good. Destiny soon took them to far away nations where they studied and mastered their skills. It was destiny again that brought them back to their motherland. It was then they realized how difficult it had become for people to eat organic food in the cities of India. People were desperately wishing to move towards a healthier way of eating, but there was no one to cater to the need. That’s when their passion for organic food gave birth to a dream, the dream to provide their nation with natural, nutritious, pure and wholesome food.

                                        Dairy is at the heart of everyone’s diet in India. Milk and all the other dairy products made from it, like butter, yogurt, ice-cream and cheese are the main stay of all that we eat here. So, as a first step to our dream, we have created a 25 acre farm on a beautiful piece of land on the borders of Rajasthan. We call it 
                                      </p>
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class="d-flex align-items-center">
                                              <span>naturewayfarm</span>
                                          </div>

                                          
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="journey" role="tabpanel" aria-labelledby="journey">
                                  <div class="his-content">
                                    <h4>THE FARM </h4>
                                    <br>  
                                    <p>Spread over 25 acres of land on the Village Raiseena, Gurgaon, Haryana, the beautiful piece of land is able to keep more than 50 cows. A haven for cattle, it is designed to keep them mooing and chewing even when they are going through mood swings. Littered with comfortable places to chill, it has got luxurious barns with giant fans and high roofs to keep them cool during the summer, even the sand on the ground is imported to give them the best experience. These little things matter to the cows. It’s a lot of hard work but worth it at the end. After all it’s the happy cows that give the best quality milk.</p>

<h4>THE FEED & THE FODDER

</h4>
<br>
<p>What's cooking?
    They are fed with organically grown greens and fodder made especially for them at the farm itself. We make sure that their food is free from any kind of insecticide, pesticide and other Chemicals.
    
    TMR Feeding Machines from Germany
    It’s like having a personal nutritionist for the cows. TMR, Total Meal Ration is a method of feeding cows that combines all forages, grains, protein feeds, minerals, vitamins and additives formulated to a specified nutrient concentration into a single feed mix. Our machine makes sure that the cows get the most nutritious diet for healthy rumination process and keeps the cows fit and active in general.
    
    </p>
                                      <p>Our farm is equipped with the most advanced milking machine, the 2X6 Herringbone parlour. It senses the position of the cow, records the amount of milk delivered, and other information which it sends to the main computer. On the ground, it can milk 12 cows in 7 minutes. The cows walk into the parlour and are milked automatically by the machines. See no hands involved.

                                        The fresh milk then passes through the PHE pipelines and is chilled to 4º c immediately. This process preserves the milk and keeps the nutrients of the milk intact.
                                        
                                        
                                      </p>
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class=" d-flex align-items-center"><span>naturewayfarm</span>
                                          </div>

                                         
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience">
                                  <div class="his-content">
                                      <h4>Organic Cow's Milk
                                    </h4>
                                      <p>
                                        Our milk comes straight from the family farm, delivered fresh to your doorstep in a few hours. Switch to good health with our Farm Fresh Cow's milk, free from any preservatives or additives. Every drop is Pure wholesome goodness.

                                        Rs.78 for 1 litre
                                        
                                        These days, there’s a growing tribe of health-conscious Indians who want the healthiest food on their tables. People are getting back to a simpler way of eating. Back to basics. We are returning to wholesome natural food the way our grandparents ate. It’s not about chemically altered, overly processed food anymore. It’s about real food.

                                        Dairy is at the heart of all of this. Milk and all the dairy products made from it, like butter, yogurt, ice-cream and cheese provide protein and calcium to our families the natural way
                                        
                                        But, how good is the milk you are using in your kitchen? Does it provide the necessary nutri-tion without the adulteration? We understand the sentiment behind ensuring your family is getting the most nutritious and pure milk - and that is why, for us at Whyte Farms, organic milk is not just a mere term, but an expression of the love you have for your family’s health.
                                        

                                      </p>
                                      <h4>How Is Our Milk Different?</h4>
                                      <p>When we say ‘organic milk’, we mean that the milk is obtained from pasture-fed cows that are not treated with any antibiotics.

                                        We ensure that you get the best organic milk and for that, we have our own farms where we nurture the cows with love. We don’t restrict them from grazing, roaming, eating, sleep-ing or getting massages (Yes, they are our family and we pamper them). We feed them with organically cultivated seasonal greens, which are highly nutritious. This, in turn, ensures that the organic cow’s milk obtained has a high nutrition value.
                                        
                                        In continuation with our aim to offer highly-nutritious and pure milk, at Whyte Farms, we ensure that the milk is treated with PHE technology, wherein it is cooled within a few seconds. We are one of the very few farms in India that use this technology for maintaining the quality and taste of milk.
                                    </p>
                                    <h4>Benefits of naturewayfarm Organic Milk</h4>
                                    <p>Organic cow milk is highly recommended for babies as well as adults due to its immense benefits some of which are:

                                        Farm fresh cow milk has higher levels of omega 3 fatty acids, which is required for healthy growth.
                                        The cows are not given any antibiotics or injections - their diet is high-quality grass. The grass-fed cow milk is not contaminated with residues of pesticides, fertilizers, and hor-mones.
                                        It is rich in antioxidant properties.
                                        Our Grass-fed cow milk contains more of Vitamin E, beta-carotene and CLA (Conjugated Linoleic Acid). Higher CLA helps in increasing the body’s metabolic rate, muscle growth and immunity to diseases.
                                        The desi cow milk helps in preventing muscular degeneration.
                                        Pure cow milk helps in reducing muscle and joint pain.</p>
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class=" d-flex align-items-center">
                                              <span>Naturewayfarm </span>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- delicious food -->


  <!--team area -->
  <!-- <section class="team-area padding-bottom-110 padding-top-110 wow fadeInUp">
     
      <div class="container">
          <div class="common-title-area text-center padding-bottom-50">
              <h3>team membar</h3>
              <h2>professional <span>chef</span></h2>
          </div>
          <div class="team-slider-active">
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t1.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathij Sen Deo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t2.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Malina Weissa</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t3.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Tonmoy Khan</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t4.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathja Semo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t1.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathij Sen Deo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>

          </div>
      </div>
  </section> -->

  <!-- testimonial -->
  <!-- <section class="testimonial padding-bottom-120 padding-top-110 wow fadeInUp">
      <div class="container">
          
          <div class="common-title-area text-center padding-bottom-50">
              <h3>testimonial</h3>
              <h2>client <span>feedback</span></h2>
          </div>
          <div class="testimonial-active">
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>
                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-1.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>

                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-2.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>

                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-1.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
             
          </div>

      </div>
  </section> -->

 



<%-include("./partalis/footer")%>