<%-include("./partalis/header")%>


    <!-- breadcrumb-area -->
    <div class="banner-area breadcrumb-area padding-top-120 padding-bottom-90">
     
      <div class="container padding-top-120">
          <div class="row justify-content-center">
              <nav aria-label="breadcrumb">
                  <h2 class="page-title">about us</h2>
                  <ol class="breadcrumb text-center">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">about us</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>

  <!-- food-items countdown -->
  <!-- <div class="foods-counter">
      <div class="container">
          <div class="row foods-wrapper">
              <div class="col-lg-3 col-md-6">
                  <div class="single-food text-center">
                      <img src="images/icons/3.png" alt="">
                      <span class="items counter">2000</span>
                      <p>food item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food orange text-center">
                      <img src="images/icons/f-2.png" alt="">
                      <span class="items counter">500</span>
                      <p> burger food item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food text-center">
                      <img src="images/icons/f-3.png" alt="">
                      <span class="items counter">1000</span>
                      <p> soft drinks item</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <div class="single-food orange text-center">
                      <img src="images/icons/f-4.png" alt="">
                      <span class="items counter">600</span>
                      <p>Delicious Fast Food</p>
                      <span class="g-s-4"><img src="images/shapes/10.png" alt=""></span>
                      <span class="g-s-5"><img src="images/shapes/14.png" alt=""></span>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <!-- about us -->
  <section class="about-area about-area2 padding-top-120 padding-bottom-120">
      <div class="container">
          <div class="row">
              
              <div class="col-lg-12 col-md-12  wow fadeInRight">
                  <div class="about-right">
                      
                      <h2>The Story about
                        
                          <span>Naturewayfarm</span>
                      </h2>
                     
                      <div class="history-tab">
                          <ul class="nav" id="myTab" role="tablist">
                              <li class="nav-item">
                                  <a class="nav-link active" id="history-tab" data-toggle="tab" href="#history"
                                      role="tab" aria-controls="history" aria-selected="true">Our Story
                                    </a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="journey-tab" data-toggle="tab" href="#journey" role="tab"
                                      aria-controls="journey" aria-selected="false">Process</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" id="experience-tab" data-toggle="tab" href="#experience"
                                      role="tab" aria-controls="experience" aria-selected="false">Products</a>
                              </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="history" role="tabpanel"
                                  aria-labelledby="history">
                                  <div class="his-content">
                                      <h4>Our Story</h4>
                                      <br>
                                      <p>

                                        As a child, seeing things drastically changing around you seems fascinating. On one end, I was giving a pure joy and enjoying the  technologies which came along the way. But then  thing about it now all grown up, somewhere we lost the touch with our roots, forgetting the traditions that we were raised with. After visiting our hometown after a while made us realise, the importance of the traditions and values along with the emotion play a part to your surrounding.How interdependent everything is to one another and how they help us grow. Our parents has always had domestic animals and they raised them with the same affection and compassion as a human being. As children we wondered off to the fields and nearly lake to play with those animal and bathe them. We want to experience the same joy and happiness all over again and share the love wth you all. 
                                      </p>
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class="d-flex align-items-center">
                                              <span>naturewayfarm</span>
                                          </div>

                                          
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="journey" role="tabpanel" aria-labelledby="journey">
                                  <div class="his-content">
                                    <p>Our cattle are would be in the lap of nature where they feel like home rather than having to live in a controlled environment. We believe the more we Give to our pets the more they give to us. The place is as comfortable as it gets with luxurious barns with huge fans and high roofs to keep the heat away in summer. Due to our location advantage we have the right soil on the ground to give them with utmost comfort. We even have assigned our cattle with specific name which makes the bond even tighter. These minor things makes a huge different both with quality and quantity of the milk produce.</p>


                                      
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class=" d-flex align-items-center"><span>naturewayfarm</span>
                                          </div>

                                         
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="experience" role="tabpanel" aria-labelledby="experience">
                                  <div class="his-content">
                                    <p>A2 milk 

                                        What is A2 milk 
                                        A2 milk is the milk received from Gir, Shaiwal and design cow. The milk is highly nutrient and super easy to digest. It is said to be increase the brain functionality as it its rich in omega 3  and vitamin Cs and Ds.<br>
                                        * Milk  have a protein  called beta casein, A1 and A2 <br>
                                        * Casein is the protein which make the 80% of the protein in the milk<br>
                                        * A2 milk may be linked with type 1 diabetes, heart disease and autism <br>
                                        * 95% Asain American and  80% native African in-fact are lactose intolerant<br> 
                                        <hr>
                                        <hr>
                                        Why A2 milk <br>
                                        * Easy to digest than A1 milk ( HF cow and jersey cow and cross breeding)<br>
                                        * High in omega3 fatty acid<br>
                                        * polyunsaturated fat which body needs to function <br>
                                        * Help maintain blood due to omega3<br>
                                        * Has vitamin A&D which helps with eye problem and strengthen immunity system</p><br>
                                      <div
                                          class="sig-wrapper d-flex flex-wrap justify-content-around align-items-center">
                                          <div class=" d-flex align-items-center">
                                              <span>Naturewayfarm </span>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- delicious food -->


  <!--team area -->
  <!-- <section class="team-area padding-bottom-110 padding-top-110 wow fadeInUp">
     
      <div class="container">
          <div class="common-title-area text-center padding-bottom-50">
              <h3>team membar</h3>
              <h2>professional <span>chef</span></h2>
          </div>
          <div class="team-slider-active">
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t1.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathij Sen Deo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t2.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Malina Weissa</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t3.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Tonmoy Khan</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t4.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathja Semo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>
              <div class="single-team text-center">
                  <div class="s-t-img">
                      <img src="images/team/t1.png" alt="">
                  </div>
                  <div class="t-content">
                      <h5>Mathij Sen Deo</h5>
                      <p>It is a long established fact that a reader BBQ food Chicken.</p>
                  </div>
                  <div class="t-social-b">
                      <span class="follow">follow :</span>
                      <span class="t-social"><a href="#"><i class="fab fa-facebook"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-twitter"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-instagram"></i></a></span>
                      <span class="t-social"><a href="#"><i class="fab fa-linkedin"></i></a></span>
                  </div>
              </div>

          </div>
      </div>
  </section> -->

  <!-- testimonial -->
  <!-- <section class="testimonial padding-bottom-120 padding-top-110 wow fadeInUp">
      <div class="container">
          
          <div class="common-title-area text-center padding-bottom-50">
              <h3>testimonial</h3>
              <h2>client <span>feedback</span></h2>
          </div>
          <div class="testimonial-active">
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>
                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-1.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>

                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-2.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
              <div class="single-testimonial">
                  <div class="testi-top">
                      <div class="tin-shapes">
                          <span class="tsin-1"><img src="images/shapes/33.png" alt=""></span>

                      </div>
                      <div class="testi-img">
                          <img src="images/testimonial/testi-1.png" alt="">
                      </div>
                      <div class="testi-meta">
                          <h6>Christ Deo</h6>
                          <p>CEO A4Tech Ltd.</p>
                          <div class="testi-rating">
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                              <span><i class="fas fa-star"></i></span>
                          </div>
                      </div>
                  </div>
                  <p>Food Khan is a gret Restaurant from the University of Texas at Austin has been
                      researching
                      the benefits of frequent testing and the feedback
                      leads to. He explains that in the history of the study.</p>
              </div>
             
          </div>

      </div>
  </section> -->

 



<%-include("./partalis/footer")%>