<%-include("./partalis/header")%>

<div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7013.946803490446!2d77.01552892272545!3d28.480347660378364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19dac0a1a1fd%3A0x4bc956bf8e3b76b0!2sSector%205%20Market!5e0!3m2!1sen!2sin!4v1629461855448!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </div>
      <div class="col">
        <div class="socials socials--large socials--rounded mb-24">
          <a href="https://wa.link/swgce2" class="social social-facebook" aria-label="facebook"><i class="ui-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>


<%-include("./partalis/footer")%>