<%-include("./partalis/header")%>

<div class="container">
    <div class="row">
      
      <div class="col md-2">
        <div class="socials socials--large socials--rounded mb-24">
          <a href="https://wa.link/swgce2" class="social social-facebook" aria-label="facebook"><i class="ui-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__url">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__url">News</a>
      </li>
      <li class="breadcrumbs__item breadcrumbs__item--current">
        World
      </li>
    </ul>
  </div>

  <div class="main-container container" id="main-container">            
    <!-- post content -->
    <div class="blog__content mb-72">
      <h1 class="page-title">Contact Us</h1>
      
      <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7013.946803490446!2d77.01552892272545!3d28.480347660378364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d19dac0a1a1fd%3A0x4bc956bf8e3b76b0!2sSector%205%20Market!5e0!3m2!1sen!2sin!4v1629461855448!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h4>Drop Us a Message</h4>
          <p>Don't hesitate to get in touch. We will reply you as soon as possible.</p>
          <ul class="contact-items">
            <li class="contact-item"><address>Centre Inc. CA 48792 Star Apple ave. 54</address></li>
            <li class="contact-item"><a href="tel:+1-800-1554-456-123">+ 1 (800) 155 4561</a></li>
            <li class="contact-item"><a href="mailto:themesupport@gmail.com">themesupport@gmail.com</a></li>
            <li> <a href="https://wa.link/swgce2" class="social social-facebook" aria-label="facebook"><i class="ui-whatsapp"></i></a>
            </li>
          </ul>            

        

        </div>
      </div>
    </div> <!-- end post content -->
  </div> <!-- end main container -->

<%-include("./partalis/footer")%>